<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .center-card {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .card {
            height: auto;
            width: 60%;
        }
    </style>
</head>
<body>
    <div class="center-card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Login User 
                </h5>
                <form action="/login/loginuser" method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <% if (messages.error) { %>
                        <div class="alert alert-danger"><%= messages.error %></div>
                    <% } %>
                    
                    <span class="">
                        <a href="../user/createuser" class="btn btn-primary">Back</a>
                    </span>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>