<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .center-card {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .card {
            height: 90%;
            width: 60%;
        }
    </style>
</head>
<body>
    <div class="center-card">
        <div class="card">
            <div class="card-body">
                <div class="">
                    <p>User created</p>
                </div>
                <div class="">
                    <div>Login</div>
                    <a href="../user/login" class="btn btn-primary">Login</a>
                </div>
                <div class="mt-3">
                    <div>Back</div>
                    <a href="../user/createuser" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

 